.login {
	-fx-background-color: linear-gradient(to right, rgb(69, 127, 202), rgb(86, 145, 200));
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #fff;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

.login-form-botao {
	-fx-font-size: 16px;
}